<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>About</title>

  
</head>

<body>




 
 
     <table  align="center" width="800">
     
    <tr height="50"> <td>


    </td></tr> 
    

    <tr height="50" bgcolor="#DAD588"> <td align="center" >


    <p ><h1>Welcome to PLF_SVM  Website</h1></p>

    </td></tr>
    
        
    <tr bgcolor="#f5f4f0"> <td>

    <p><h4>It is protein Lysine Formyaltion site prediction online server and freely available to any user.<h4></p>


    </td></tr> 
    
      
    
     <tr height="50"> <td>
 

    </td></tr> 
    
    
     <tr  bgcolor="#DAD588" > <td>
     <p ><h2>About Protein Lysine Formylation</h2></p>

    </td></tr>     
        
    <tr bgcolor="#f5f4f0"> <td>
    <p  align="justify"><h4>The biochemical reactions occurring on protein after its formation are known as post-translational modifications (PTMs). Lysine formylation is a type of PTM that is mostly viewed on histone proteins of prokaryote and eukaryote. The addition of biochemical formylation unit (-CHO) to a lysine residue through isopeptide bond is known as lysine formylation. It is responsible for playing various essential function in cell mechanism including DNA repair, DNA binding, protein–protein interactions, and metabolic pathways.</h4></p>

    </td></tr>  
    
    
      
    </table>
 

   
   
   
   
   
    
</body>
</html>
