<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Result</title>

  
</head>

<body>

	<h1 align="center">Predicted Results</h1>


 
 
 
{% block content %}

 
 
 <table border="1" align="center">
        <thead>
            <tr>
                <th >Protein Fragments</th>
                <th >Position</th>
                <th >Results</th>
            </tr>
        </thead>
        <tbody>
        {% for key,value in n.iterrows() %}
            <tr>
                <td>{{value[0][0:10]}}<b style="color: red">{{value[0][10]}}</b>{{value[0][11:22]}}</td>
                <td>{{value[1]}}</td>
                <td>{{value[2]}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
 
 
 
 
 
 
 
 
 
 
 
 {% endblock %}

   
   
   
   
   
    
</body>
</html>
